{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "all",
  "organizeImportsSkipDestructiveCodeActions": true,
  "semi": true,
  "overrides": [
    {
      "files": ["*.jsonc", ".prettierrc", ".eslintrc"],
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    }
  ]
}
